<app-upload-media></app-upload-media>
<div *ngIf="mediaUploaded" class="alert alert-success">
  <p>
    Media Successfully Uploaded.
  </p>
</div>
<div class="container">
  <h1>New Media Page</h1>
  <form #mediaForm="ngForm" (ngSubmit)="uploadMedia(mediaForm)">
    <div class="form-group">
      <label for="title">Title :</label>
      <input
        #title="ngModel"
        required
        type="text"
        name="title"
        class="form-control"
        maxlength="80"
        ngModel
      />
      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        <div *ngIf="title.errors?.required">
          Title is required.
        </div>
        <div *ngIf="title.errors?.maxlength">
          Title should contain only 80 Characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description :</label>
      <input
        #description="ngModel"
        required
        type="text"
        name="description"
        class="form-control"
        maxlength="144"
        ngModel
      />
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
        <div *ngIf="description.errors?.required">
          Description is required.
        </div>
        <div *ngIf="description.errors?.pattern">
          Description should contain only 144 Characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input
        #tags="ngModel"
        required
        type="text"
        name="tags"
        class="form-control"
        ngModel
      />
      <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="alert alert-danger">
        <div *ngIf="tags.errors?.required">
          Tags are required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="media">Upload Media:</label>
      <input
        #media="ngModel"
        required
        type="file"
        name="media"
        class="form-control"
        (change)="onFileSelect($event)"
        ngModel
      />
      <div *ngIf="media.invalid && (media.dirty || media.touched)" class="alert alert-danger">
        <div *ngIf="media.errors?.required">
          Media for Uploading is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="title2">Title :</label>
      <input
      #title2="ngModel"
      required
      type="text"
      name="title2"
      class="form-control"
      maxlength="80"
      ngModel
    />
      <div *ngIf="title2.invalid && (title2.dirty || title2.touched)" class="alert alert-danger">
        <div *ngIf="title2.errors?.required">
          Title is required.
        </div>
        <div *ngIf="title2.errors?.maxlength">
          Title should contain only 80 Characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description2">Description :</label>
      <input
      #description2="ngModel"
      required
      type="text"
      name="description2"
      class="form-control"
      maxlength="144"
      ngModel
    />
      <div *ngIf="description2.invalid && (description2.dirty || description2.touched)" class="alert alert-danger">
        <div *ngIf="description2.errors?.required">
          Description is required.
        </div>
        <div *ngIf="description2.errors?.pattern">
          Description should contain only 144 Characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tags2">Tags:</label>
      <input
      #tags2="ngModel"
      required
      type="text"
      name="tags2"
      class="form-control"
      ngModel
    />
      <div *ngIf="tags2.invalid && (tags2.dirty || tags2.touched)" class="alert alert-danger">
        <div *ngIf="tags2.errors?.required">
          Tags are required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="media2">Upload Media:</label>
      <input
      #media2="ngModel"
      required
      type="file"
      name="media2"
      class="form-control"
      (change)="onFileSelect2($event)"
      ngModel
    />
      <div *ngIf="media2.invalid && (media2.dirty || media2.touched)" class="alert alert-danger">
        <div *ngIf="media2.errors?.required">
          Media for Uploading is required.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" name="submit" type="submit">Submit</button>
  </form>
</div>